WebAppPortalAD/Web References/AD/ActualizarCuentaAD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://172.16.0.102/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://172.16.0.102/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://172.16.0.102/Imports">
      <xsd:import schemaLocation="http://192.168.100.10/ConsultarAD/ActualizarCuentaAD.svc?xsd=xsd0" namespace="http://172.16.0.102/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ActualizarCuentaAD_ExtraerDatosUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ExtraerDatosUsuario" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_ExtraerDatosUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExtraerDatosUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_CambiarContrasenia_InputMessage">
    <wsdl:part name="parameters" element="tns:CambiarContrasenia" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_CambiarContrasenia_OutputMessage">
    <wsdl:part name="parameters" element="tns:CambiarContraseniaResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_DesbloquearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:DesbloquearUsuario" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_DesbloquearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesbloquearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_ValidarCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCuenta" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_ValidarCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_VerUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:VerUsuario" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_VerUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_FechaCaducidad_InputMessage">
    <wsdl:part name="parameters" element="tns:FechaCaducidad" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_FechaCaducidad_OutputMessage">
    <wsdl:part name="parameters" element="tns:FechaCaducidadResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_GenerarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerarUsuarios" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_GenerarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_ActualizarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuarios" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_ActualizarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_ListarUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuarios" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_ListarUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_ListaUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaUsuarios" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_ListaUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_ListaGrupos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaGrupos" />
  </wsdl:message>
  <wsdl:message name="ActualizarCuentaAD_ListaGrupos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaGruposResponse" />
  </wsdl:message>
  <wsdl:portType name="ActualizarCuentaAD">
    <wsdl:operation name="ExtraerDatosUsuario">
      <wsdl:input wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/ExtraerDatosUsuario" message="tns:ActualizarCuentaAD_ExtraerDatosUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/ExtraerDatosUsuarioResponse" message="tns:ActualizarCuentaAD_ExtraerDatosUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CambiarContrasenia">
      <wsdl:input wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/CambiarContrasenia" message="tns:ActualizarCuentaAD_CambiarContrasenia_InputMessage" />
      <wsdl:output wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/CambiarContraseniaResponse" message="tns:ActualizarCuentaAD_CambiarContrasenia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DesbloquearUsuario">
      <wsdl:input wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/DesbloquearUsuario" message="tns:ActualizarCuentaAD_DesbloquearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/DesbloquearUsuarioResponse" message="tns:ActualizarCuentaAD_DesbloquearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCuenta">
      <wsdl:input wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/ValidarCuenta" message="tns:ActualizarCuentaAD_ValidarCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/ValidarCuentaResponse" message="tns:ActualizarCuentaAD_ValidarCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerUsuario">
      <wsdl:input wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/VerUsuario" message="tns:ActualizarCuentaAD_VerUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/VerUsuarioResponse" message="tns:ActualizarCuentaAD_VerUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FechaCaducidad">
      <wsdl:input wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/FechaCaducidad" message="tns:ActualizarCuentaAD_FechaCaducidad_InputMessage" />
      <wsdl:output wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/FechaCaducidadResponse" message="tns:ActualizarCuentaAD_FechaCaducidad_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerarUsuarios">
      <wsdl:input wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/GenerarUsuarios" message="tns:ActualizarCuentaAD_GenerarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/GenerarUsuariosResponse" message="tns:ActualizarCuentaAD_GenerarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarUsuarios">
      <wsdl:input wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/ActualizarUsuarios" message="tns:ActualizarCuentaAD_ActualizarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/ActualizarUsuariosResponse" message="tns:ActualizarCuentaAD_ActualizarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarUsuarios">
      <wsdl:input wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/ListarUsuarios" message="tns:ActualizarCuentaAD_ListarUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/ListarUsuariosResponse" message="tns:ActualizarCuentaAD_ListarUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaUsuarios">
      <wsdl:input wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/ListaUsuarios" message="tns:ActualizarCuentaAD_ListaUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/ListaUsuariosResponse" message="tns:ActualizarCuentaAD_ListaUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaGrupos">
      <wsdl:input wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/ListaGrupos" message="tns:ActualizarCuentaAD_ListaGrupos_InputMessage" />
      <wsdl:output wsaw:Action="http://172.16.0.102/ActualizarCuentaAD/ListaGruposResponse" message="tns:ActualizarCuentaAD_ListaGrupos_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>