WebAppPortalAD/Web References/ADServicios/SerWebApp.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SerWebApp" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="CrearUsuario">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UsuarioIngreso" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ClaveIngreso" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Nombre1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Nombre2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Apellido1" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Apellido2" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Identificacion" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="NombreUsuario" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Telefono" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Compania" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Departamento" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Titulo" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Contrasenia" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Portal" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Estado" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="EstadoProceso" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CrearUsuarioResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="CrearUsuarioResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ValidarCuenta">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UsuarioIngreso" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ClaveIngreso" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Usuario" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Clave" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ValidarCuentaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ValidarCuentaResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BloquerCuenta">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UsuarioIngreso" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ClaveIngreso" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Usuario" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Clave" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BloquerCuentaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="BloquerCuentaResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DesbloquearCuenta">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UsuarioIngreso" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ClaveIngreso" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Usuario" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Clave" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="DesbloquearCuentaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="DesbloquearCuentaResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ListaOU">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UsuarioIngreso" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ClaveIngreso" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Usuario" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Clave" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ListaOUResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ListaOUResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ListaUsuarios">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="UsuarioIngreso" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ClaveIngreso" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Usuario" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="Clave" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="UO" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ListaUsuariosResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="ListaUsuariosResult" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ISerWebApp_CrearUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuario" />
  </wsdl:message>
  <wsdl:message name="ISerWebApp_CrearUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrearUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ISerWebApp_ValidarCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCuenta" />
  </wsdl:message>
  <wsdl:message name="ISerWebApp_ValidarCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="ISerWebApp_BloquerCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:BloquerCuenta" />
  </wsdl:message>
  <wsdl:message name="ISerWebApp_BloquerCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:BloquerCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="ISerWebApp_DesbloquearCuenta_InputMessage">
    <wsdl:part name="parameters" element="tns:DesbloquearCuenta" />
  </wsdl:message>
  <wsdl:message name="ISerWebApp_DesbloquearCuenta_OutputMessage">
    <wsdl:part name="parameters" element="tns:DesbloquearCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="ISerWebApp_ListaOU_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaOU" />
  </wsdl:message>
  <wsdl:message name="ISerWebApp_ListaOU_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaOUResponse" />
  </wsdl:message>
  <wsdl:message name="ISerWebApp_ListaUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaUsuarios" />
  </wsdl:message>
  <wsdl:message name="ISerWebApp_ListaUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaUsuariosResponse" />
  </wsdl:message>
  <wsdl:portType name="ISerWebApp">
    <wsdl:operation name="CrearUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ISerWebApp/CrearUsuario" message="tns:ISerWebApp_CrearUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISerWebApp/CrearUsuarioResponse" message="tns:ISerWebApp_CrearUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/ISerWebApp/ValidarCuenta" message="tns:ISerWebApp_ValidarCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISerWebApp/ValidarCuentaResponse" message="tns:ISerWebApp_ValidarCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BloquerCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/ISerWebApp/BloquerCuenta" message="tns:ISerWebApp_BloquerCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISerWebApp/BloquerCuentaResponse" message="tns:ISerWebApp_BloquerCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DesbloquearCuenta">
      <wsdl:input wsaw:Action="http://tempuri.org/ISerWebApp/DesbloquearCuenta" message="tns:ISerWebApp_DesbloquearCuenta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISerWebApp/DesbloquearCuentaResponse" message="tns:ISerWebApp_DesbloquearCuenta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaOU">
      <wsdl:input wsaw:Action="http://tempuri.org/ISerWebApp/ListaOU" message="tns:ISerWebApp_ListaOU_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISerWebApp/ListaOUResponse" message="tns:ISerWebApp_ListaOU_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/ISerWebApp/ListaUsuarios" message="tns:ISerWebApp_ListaUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISerWebApp/ListaUsuariosResponse" message="tns:ISerWebApp_ListaUsuarios_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISerWebApp" type="tns:ISerWebApp">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CrearUsuario">
      <soap:operation soapAction="http://tempuri.org/ISerWebApp/CrearUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCuenta">
      <soap:operation soapAction="http://tempuri.org/ISerWebApp/ValidarCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BloquerCuenta">
      <soap:operation soapAction="http://tempuri.org/ISerWebApp/BloquerCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesbloquearCuenta">
      <soap:operation soapAction="http://tempuri.org/ISerWebApp/DesbloquearCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaOU">
      <soap:operation soapAction="http://tempuri.org/ISerWebApp/ListaOU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaUsuarios">
      <soap:operation soapAction="http://tempuri.org/ISerWebApp/ListaUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SerWebApp">
    <wsdl:port name="BasicHttpBinding_ISerWebApp" binding="tns:BasicHttpBinding_ISerWebApp">
      <soap:address location="http://192.168.100.94/WebApp/SerWebApp.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>